<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 제이쿼리 추가 -->
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 추가 -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
    <h1 th:text="${board.board_title}"></h1>
    <p th:inline="text">작성일 : [[${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>
    <p th:text="${board.board_content}"></p>
</body>
</html>