<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 제이쿼리 추가 -->
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 추가 -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
    <!-- HEADER -->
    <div th:insert = "common/header.html" id="header"></div>
    <h1>게시글 수정</h1>
    <form action="/board/modify" method="POST">
        <input type="text" name="board_idx" th:value = "${board.board_idx}" hidden>
        제목   : <input type="text" name="board_title" th:value = "${board.board_title}"><br/>
        작성자 : <input type="text" name="board_writer" th:value = "${board.board_writer}"><br/>
        내용 : <textarea cols="50" rows="6" name="board_content" th:text = "${board.board_content}"></textarea><br/>
        <input type="submit" value="완료">
    </form>
    <!-- FOOTER -->
    <div th:insert = "common/footer.html" id="footer"></div>
</body>
</html>