<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 제이쿼리 추가 -->
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 추가 -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>
    <br>
    <div class="container">
        <h1>Register page</h1>
        <form id="regform" action="/insert" method="POST">
            <!-- <form id="regform" action="#" method="POST"> -->
            <div class="form-group col-auto">
                <label for="memberid">ID</label>
                <input type="text" class="form-control" id="memberid" name="memberid" placeholder="Enter ID">
                <p id="alert"></p>
                <button type="button" class="btn btn-outline-primary btn-sm" id="idcheck">중복확인</button>
            </div>
            <div class="form-group col-auto">
                <label for="memberpw">Password</label>
                <input type="password" class="form-control" id="memberpw" name="memberpw" placeholder="Password">
            </div></br>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="register" th:text="회원가입"></button>
            </div>
        </form>
    </div>
    <script>
        $("#idcheck").click(function () {
            var query = {
                memberid: $("#memberid").val()
            };
            console.log(query);
            $.ajax({
                url: "/idcheck",
                type: "post",
                data: query,
                success: function (data) {
                    if (data == 1) {
                        $("#alert").text("사용가능한 아이디 입니다.");
                        document.getElementById("alert").style.color = "black";
                        alert('사용가능한 아이디 입니다.');
                    } else if (data == 2) {
                        $("#alert").text("아이디를 입력해주세요.");
                        document.getElementById("alert").style.color = "black";
                        alert('아이디를 입력해주세요');
                    } else {
                        $("#alert").text("중복된 아이디입니다.")
                        document.getElementById("alert").style.color = "red";
                        alert('중복된 아이디입니다.');
                    }
                }
            })
        })


        $("#register").click(function () {
            var alert1 = $("#alert").text();
            if (alert1 == "사용가능한 아이디 입니다.") {
                document.getElementById("regform").submit();
                console.log("success");
                alert("회원가입 완료");
            } else {
                alert("아이디를 확인해 주세요")
                $("#memberid").focus();
                console.log("fail");
                return false;
            }
        })
    </script>
</body>

</html>